.root {
    display: grid;
    grid-template-columns: 210px 1fr 1fr 1fr 1fr; /* 第一列固定150px，其余列平均分配 */
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0; /* 列间距为0 */
    grid-row-gap: 0; /* 行间距为0 */
    height: 100vh; /* 确保根容器占满整个视口高度 */
    background-color: #F6F6F6;
}

.nav_bar {
    grid-area: 1 / 1 / 6 / 2; /* 占据第一列 */
    min-width: 150px; /* 固定宽度 */
}

.main {
    grid-area: 1 / 2 / 6 / 5; /* 从第二列开始，占据到第五列 */
}

.aside {
    grid-area: 1 / 5 / 6 / 6; /* 占据第五列 */
}

.header-container {
    display: flex;
    justify-content: flex-end; /* 右侧对齐 */
    padding-right: 10px;
    height: 50px;
    margin-bottom: 20px;
}

.nav_title_text {
    white-space: nowrap; /* 防止文字换行 */
    flex-shrink: 1; /* 允许文字收缩 */
    align-items: center;
}

.logo {
    margin-right: 2px;
    height: 40px;
    width: 40px;
    margin-top: 18px;
}

.language_buttons {
    margin-bottom: 200px;
    margin-right: 100px;
}

.divider {
    width: 1px;
    background-color: rgba(128, 128, 128, 0.2); /* 灰色，20% 透明度 */
    min-height: 100vh; 
    vertical-align: middle; /* 垂直居中 */
    z-index: 1;
}