accelerate==1.2.1
TTS==0.22.0
tqdm==4.67.1
matplotlib==3.8.4
transformers==4.47.1
tokenizers==0.21.0
sherpa-onnx==1.10.41
sounddevice==0.5.1
soundfile==0.13.0
playsound==1.3.0

# Panel 相关
fastapi
uvicorn

# For Linux
torch==2.5.1; sys_platform == 'linux'
# For Windows
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1; sys_platform == 'win32'

torchaudio==2.5.1

# 日志库
loguru

# toml配置文件支持
tomli
